/.htaccess
/*

# Backend
!/administrator/components/com_govarticle/
!/administrator/components/com_govarticle/*
!/administrator/modules/mod_govarticle_log/
!/administrator/modules/mod_govarticle_log/*

# Frontend
!/components/com_govarticle/
!/components/com_govarticle/*
!/layouts/govarticle/
!/layouts/govarticle/*
!/modules/mod_govarticle_categories/
!/modules/mod_govarticle_categories/*
!/modules/mod_govarticle_category/
!/modules/mod_govarticle_category/*
!/modules/mod_govarticle_stats/
!/modules/mod_govarticle_stats/*
!/plugins/editors-xtd/govarticle/
!/plugins/editors-xtd/govarticle/*
!/plugins/search/govarticle/
!/plugins/search/govarticle/*
