/*
!/administrator/
/administrator/*
!/administrator/components/
/administrator/components/*
!/administrator/components/com_govarticle/**

!/administrator/modules/
/administrator/modules/*
!/administrator/modules/mod_govarticle_log/**

!/administrator/manifests/
/administrator/manifests/*
!/administrator/manifests/files/
/administrator/manifests/files/*
!/administrator/manifests/files/govarticle.xml

!/components/
/components/*
!/components/com_govarticle/**

!/layouts/
/layouts/*
!/layouts/govarticle/*

!/modules/
/modules/*
!/modules/mod_govarticle_categories/**
!/modules/mod_govarticle_category/**
!/modules/mod_govarticle_stats/**

!/plugins/
/plugins/*
!/plugins/editors-xtd/
/plugins/editors-xtd/*
!/plugins/editors-xtd/govarticle/**
!/plugins/search/
/plugins/search/*
!/plugins/search/govarticle/**
!/plugins/finder/
/plugins/finder/*
!/plugins/finder/govarticle/**
!/plugins/content/
/plugins/content/*
!/plugins/content/govarticlenavigation/**

!/LICENSE
!/README.md